thead td{
  border-bottom: 3px solid #000000;
  margin-bottom: 4rem;
}
tbody{
  text-align: left;
}
tbody tr td:first-child {
  font-weight: 800;
}

ul > a {
  color: #0077ff;
  display: flex;
  text-decoration: none;
  margin-bottom: 0.42rem;
}

ul > a:hover {
  transition: ease-in 0.2s;
  opacity: 0.69;
  color: #0000ff;
}
ul > a > img {
  margin-right: 0.5rem;
}
